<%= form_with model: @user, html: { nonvalidate: true } do |form| %>
  <div>
    <%= form.label :first_name, I18n.t('first_name'), for: "first-name", class: "form-label" %>
    <%= form.text_field :first_name, id: "first-name", class: "form-control" %>
    <div class="error-message">
      <% @user.errors.full_messages_for(:first_name).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :last_name, I18n.t('last_name'), for: "last-name", class: "form-label" %>
    <%= form.text_field :last_name, id: "last-name", class: "form-control" %>
    <div class="error-message">
      <% @user.errors.full_messages_for(:last_name).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :birthday, I18n.t('birthday'), for: "birthday", class: "form-label" %>
    <%= form.date_field :birthday,
      required: false,
      class: 'form-control',
      data: { 
        controller: "date-picker",
        date_picker_target: "dateField",
        value: @user.birthday.nil? ? "" : format_date_in_thai(@user.birthday, :default) 
      } %>
    <div class="error-message">
      <%= @user.errors.full_messages_for(:birthday).join(", ") %>
    </div>
  </div>
  <div class="radio-gender">
    <%= form.label :gender, I18n.t('gender'), class: "gender-label" %>
    <div class="radio-options">
      <label>
        <%= form.radio_button :gender, 'male' %> <%= I18n.t('male') %>
      </label>
      <label>
        <%= form.radio_button :gender, 'female' %> <%= I18n.t('female') %>
      </label>
    </div>
    <div class="error-message">
      <% @user.errors.full_messages_for(:gender).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :email, I18n.t('email'), for: "email", class: "form-label" %>
    <%= form.email_field :email, id: "email", class: "form-control" %>
    <div class="error-message">
      <% @user.errors.full_messages_for(:email).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :phone, I18n.t('phone'), for: "phone", class: "form-label" %>
    <%= form.telephone_field :phone, id: "phone", class: "form-control", maxlength: 10 %>
    <div class="error-message">
      <% @user.errors.full_messages_for(:phone).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :subject, I18n.t('subject'), for: "subject", class: "form-label" %>
    <%= form.select :subject, options_for_select([[I18n.t('options'), 'none'], 'HTML', 'CSS', 'JavaScript', 'Ruby on Rails', 'Docker']), {}, class: "form-control" %>
    <div class="error-message">
      <% @user.errors.full_messages_for(:subject).each do |message| %>
        <%= message %>
      <% end %>
    </div>
  </div>
  <div class="button-submit">
    <%= form.submit I18n.t('confirm'), class: "btn btn-primary" %>
  </div>
<% end %>
