<div class="show-users">
  <section>
    <header>Users List
      <%= link_to new_user_path, class: 'btn-register' do %>
        <%= image_tag('plus-solid.svg', alt: 'plus', class: 'plus-icon') %>
        Create new account
      <% end %>
    </header>
    <div class="users-list">
      <% @users.each do |user| %>
        <div class="user-card">
          <div class="user-info">
            <strong>First Name:</strong> <%= user.first_name %><br>
            <strong>Last Name:</strong> <%= user.last_name %><br>
            <strong>Email:</strong> <%= user.email %>
          </div>
          <div class="user-actions">
            <%= link_to 'View', user, class: 'btn-view' %>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn-edit' %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
