<div class="profile-container">
  <section class="profile-card">
    <%= link_to root_path, class: 'btn-back' do %>
      <%= image_tag('arrow-left-solid.svg', alt: 'Home', class: 'icon') %>
      Home Page
    <% end %>
    <header class="profile-header">Your Profile
      <%= button_to 'Delete', user_path(@user), method: :delete, class: 'btn-delete' %>
    </header>
    <div class="profile-details">
      <p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
      <p><strong>Birthday:</strong> <%= @user.birthday %></p>
      <p><strong>Gender:</strong> <%= @user.gender %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Phone:</strong> <%= @user.phone %></p>
      <p><strong>Subject:</strong> <%= @user.subject %></p>
    </div>
    
    <div class="profile-actions">
      <%= link_to "Edit your profile", edit_user_path, class: 'btn-edit' %>
    </div>
  </section>
</div>
