<div class="profile-container">
  <section class="profile-card">
    <div class="language-button-right">
      <%= render 'language-button' %>
    </div>
    <%= link_to root_path, class: 'btn-back' do %>
      <%= image_tag('arrow-left-solid.svg', alt: 'Home', class: 'icon') %>
      <%= I18n.t('home_page') %>
    <% end %>
    <header class="profile-header"> <%= I18n.t('show_user') %>
      <%= button_to I18n.t('delete'), user_path(@user), method: :delete, class: 'btn-delete' %>
    </header>
    <div class="profile-details">
      <p><strong><%= I18n.t('first_name') %></strong> <%= @user.first_name %> <%= @user.last_name %></p>
      <p><strong><%= I18n.t('birthday') %></strong> <%= @user.birthday %></p>
      <p><strong><%= I18n.t('gender') %></strong> <%= @user.gender %></p>
      <p><strong><%= I18n.t('email') %></strong> <%= @user.email %></p>
      <p><strong><%= I18n.t('phone') %></strong> <%= @user.phone %></p>
      <p><strong><%= I18n.t('subject') %></strong> <%= @user.subject %></p>
    </div>
    <div class="profile-actions">
      <%= link_to  I18n.t('edit_user'), edit_user_path, class: 'btn-edit' %>
    </div>
  </section>
</div>
