<%= link_to "< Home page", users_path %>
<h1>Your profile</h1>
<p> Name: <%= @user.first_name%>  <%= @user.last_name%> </p>
<p> Birthday: <%= @user.birthday%></p>
<p> Gender: <%= @user.gender%></p>
<p> Email: <%= @user.email%></p>
<p> Phone: <%= @user.phone%></p>
<p> Subject: <%= @user.subject%></p>
<li>